body{
    margin-left: 0;
    /* background-color: black; */
}

.btn-play {
    border: none;
    width: 69px;
    height: 69px;
    background-color: white;
    background-size: 100%;
    cursor: pointer;
}

.pause {
    background-image: url('assets/svg/pause.png');
}

.play {
    background-image: url('assets/svg/play.png');
}

.range {
    width: 294px;
    height: 7px;
    border: none;
    background: black;
    border-radius: 2px;
    cursor: pointer;
}

.bar-progress {
    width: 10px;
    height: 15px;
    background: linear-gradient(180deg, #ccec67, white);
    border-radius: 7px;
    border: 0.5px solid #3b4b1a;
    position: relative;
    top: -5px;
    left: -5.5px;
}

.prev, .next {
    width: 37px;
    height: 37px;
    background-size: 100%;
    cursor: pointer;
}

.prev {
    background-image: url(assets/svg/backward.png);
}

.next {
    background-image: url(assets/svg/forward.png);
}