@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

button {
    background: none;
}

.btn-play {
    border: none;
    width: 62px;
    height: 62px;
    /* background-color: none; */
    background-size: 100%;
    cursor: pointer;
}

.pause {
    background-image: url('assets/svg/pause.png');
}

.play {
    background-image: url('assets/svg/play.png');
}

.range {
    /* width: 294px; */
    width: 264px;
    height: 5px;
    border: none;
    background: black;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 18px;
}

.bar-progress {
    width: 10px;
    height: 15px;
    background: linear-gradient(180deg, #ccec67, white);
    border-radius: 7px;
    border: 0.5px solid #3b4b1a;
    position: relative;
    top: -5px;
    left: -5.5px;
}

.prev, .next {
    width: 37px;
    height: 37px;
    background-size: 100%;
    cursor: pointer;
}

.prev {
    background-image: url(assets/svg/backward.png);
}

.next {
    background-image: url(assets/svg/forward.png);
}

main {
    width: 404px;
}

.cover {
    width: 404px;
    height: 404px;
    background-size: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.player {
    height: 160px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(45deg, #393939, #828282);
}

.interactive {
    height: 93px;
    padding: 11px 44px 5px 35px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, .duration-time, .current-time {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    margin: 0
}

h1 {
    font-weight: bolder;
    font-size: 20px;
}

h1, .duration-time {
    color: #c6f439;
}

h2 {
    color: white;
    font-size: 17px;
    font-weight: lighter;
}

.current-time {
    color: white;
    margin-top: 5px;
}

.duration-time, .current-time {
    font-size: 13px;
}

.duration-time {
    float: right;
    margin-top: -20px;
}

.bar {
    padding: 0 70px 0;
}

footer {
    background-color: black;
}